<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/integration"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
          
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/context
                                 http://www.springframework.org/schema/context/spring-context.xsd
                                 http://www.springframework.org/schema/integration
                                 http://www.springframework.org/schema/integration/spring-integration-2.2.xsd">
    <!-- 
           sendRequest
            receiveRequest
    -->
    <annotation-config/>
    <context:component-scan base-package="org.techmytalk.springsample.integration"/>
    <gateway id="request" service-interface="org.techmytalk.springsample.integration.SentRequest"/>
    <channel id="sendRequest"/>
    <outbound-channel-adapter channel="sendRequest"  ref="receiveResponse" method="processMessage" />
</beans:beans>
